
.default {
    background-color: white;
}

.dim {
    background-color: #213038;
}

.lights-out {
    background-color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        content: 'dark';
    }
}

@media (prefers-color-scheme: light) {
    body {
        content:'light';
    }
}