body {
    background-color: black;
}

#mode-frame {
    opacity: 0;
    position: fixed;
    top: calc(50% - 85px);
    left: calc(50% - 95px);
    width: 170px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    z-index: 3;
}

#mode-frame h1 {
    font-family: sans-serif;
    color: white;
    margin: 5px;
    -webkit-user-select: none;
}

.light {
    background-color: white;
}

.dim {
    background-color: #132029;
}

.lights-out {
    background-color: black;
}

#tweets {
    margin: 50px 0px;
}

.delete-tweet-button {
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
    margin: 0px 5px;
    display: inline-block;
    -webkit-user-select: none;
    border: none;
    padding: 0px;
    border-radius: 50%;
    width: 29px;
}

.light div div div .delete-tweet-button {
    background-color: #DDDDDD;
}

.dim div div div .delete-tweet-button {
    background-color: white;
}

.lights-out div div div .delete-tweet-button {
    background-color: white;
}


@media (prefers-color-scheme: dark) {
    body {
        content: 'dark';
    }
}

@media (prefers-color-scheme: light) {
    body {
        content:'light';
    }
}